<div class="container-fluid ">
    <div class="row min-vh-100">
        <div class="col-12 col-md-9">
            <h1 class="align-middle">The Audio Handbook</h1>
        </div>
        {{!-- Yellow Column --}}
        <div class="d-flex align-items-end justify-content-center yellow-book col-12 col-md-3">
            <div class="min-vh-25  border-box-hb">
                test
            </div>
        </div>

    </div>
</div>
</div>